* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.head1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.page-name{
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    color: #CC5803;
    border: none;
    border-radius: 20px;
}

.nav-bar ul{
    font-family: 'Andika', sans-serif;
    font-family: 'Bree Serif', serif;
    display: flex;
    font-size: 16px;
}

.nav-bar li{
    padding: 0 15px;
}


.home{
    border-bottom: 3px solid #CC5803; /* #E8985E;*/
}


.search input{
    width: 500px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 15px;
    padding: 8px 25px;
}

.fa-search{
    position: relative;
    right: 500px;
}


.nav-link:hover{
    text-decoration: underline solid 2px #CC5803;
}

img { 
    max-width: 100%; 
    display: flex;
    border-radius: 1rem;
  }

/*
.sect2{
    column-count: 4;
    column-gap: 10px; 
}*/


/*
.images{
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}


.sect2 img{
    grid-row: 1 / -1;
    grid-column: 1;
    
}
*/
  
.grid-items{
    column-count: 4;
	column-gap: 16px;
    max-width: 95%;
    
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.images{
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}


@media (max-width: 1199px) {
    .grid-items {
      column-count: 3;
      width: 90%;
    }
  }
  
  @media (max-width: 991px) {
    .grid-items {
      column-count: 2;
      width: 90%;
    }
  }
  
  @media (max-width: 600px) {
    .grid-items {
      column-count: 1;
      width: 90%;
    }
  }
  


