/* background-color: #832232, #2B0504;

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.head1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /*box-shadow: 0 1px 1px #232323;*/
}

.page-name{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #B76D68;
    border: none;
    border-radius: 20px;
}

.nav-bar ul{
    font-family: 'Andika', sans-serif;
    font-family: 'Bree Serif', serif;
    display: flex;
    font-size: 16px;
}

.nav-bar li{
    padding: 0 15px;
}


.home{
    border-bottom: 3px solid #E8985E;
}



/*.search{
    padding: 10px 0;
}*/

.search input{
    width: 500px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 15px;
    padding: 8px 25px;
}

.fa-search{
    position: relative;
    right: 500px;
}

.nav-link:hover{
    text-decoration: underline solid 2px #E8985E;
}


img{
    max-width: 100%;
    display: block;
}

.sect2{
    column-count: 4;
    column-gap: 10px;
}



.images{
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

*/
.sect2 img{
    grid-row: 1 / -1;
    grid-column: 1;
    
}







